<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Silex App{% endblock %}</title>
    </head>
    <body>
        {% block content %}Content block{% endblock %}
    </body>
</html>